<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="WindowsFormsApplication1.Settings_store" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        <section name="WindowsFormsApplication1.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup><userSettings>
        <WindowsFormsApplication1.Settings_store>
            <setting name="_grid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_mz_min" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="_mz_max" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="_n_precision" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="_colormap" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="_do_convolve" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_reverse_colormap" serializeAs="String">
                <value>False</value>
            </setting>
        </WindowsFormsApplication1.Settings_store>
        <WindowsFormsApplication1.Settings>
            <setting name="_grid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_mz_min" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="_mz_max" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="_n_precision" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="_colormap" serializeAs="String">
                <value>1</value>
            </setting>
        </WindowsFormsApplication1.Settings>
    </userSettings>
</configuration>
